

@font-face {
    font-family: 'SfProDisplay-Variable';
    src: url('../fonts/SfProDisplay-Variable.woff2') format('woff2'),
         url('../fonts/SfProDisplay-Variable.woff') format('woff'),
         url('../fonts/SfProDisplay-Variable.ttf') format('truetype');
        font-display: swap;
        font-style: normal;
  }
  

  